
#lanes
{
	overflow: hidden;
	width: 100%;
}

.column
{
	float: left;
	padding: 10px;
	min-height: 500px;
	border-right: solid 2px #F00;
	background-color: #f8f8f8;
	color: #000;
}

.column-button
{
	float: right;
}

#backlog-div
{
}

#wip-div
{
}

#done-div
{
}

.last-column
{
	border-right: none;
}

#stories-toggle
{
	width: 10px;
	height: 100px;
	display: block;
	background-color: #3DA1FF;
	color: #fff;
	position: relative;
}

#stories-toggle:hover
{
	color: #000;
	cursor: pointer;
}

#stories-toggle span
{
	display: block;
	position: absolute;
	top: 150px;
	left: -30px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.tooltip
{
	background-color: #ffffdd;
	color: #000;
	border: solid 2px #888;
	padding: 5px;
}

ul.tasks,
ul.stories
{
	list-style: none;
	margin: 0;
	min-height: 200px;
	min-width: 240px;
	display: block;
}

ul.tasks li,
ul.stories li
{
    min-height: 80px;
}

ul.tasks li.drop-area
{
    background-color: #aaa;
    border: solid 2px #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

ul.tasks li.review
{
	min-height: 5px;
	background-color: #000;
	color: #fff;
	text-align: right;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
}

ul.task-list
{
	margin: 0px;
	padding: 0 20px;
	display: block;
	background-color: #ffffdd
}

ul.task-list li
{
	min-height: 0px;
}

span.title-bar
{
	display: block;
    padding: 0 3px;
	background-color: #ddd;
	border-bottom: solid 1px #ccc;
	height: 25px;
    font-weight: bold;
	color: #333;
}

span.status
{
	float: right;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: solid 1px #fff;
	margin: 5px 0 0 5px;
}

span.status.none
{
	background-color: #f2f2f2;
}

span.status.good,
span.status.committed
{
	background-color: #00ff00;
}

span.status.warn
{
	background-color: #ffff00;
}

span.status.alert
{
	background-color: #ff0000;
}

span.footer
{
    display: block;
    background: #ddd;
    border-top: solid 1px #ccc;
	font-size: 12px;
	padding: 3px;
	min-height: 20px;
}

span.footer span.value
{
	font-weight: bold;
	padding-left: 2px;
	padding-right: 3px;
}

span.footer span.creator
{
	float: right;
}

.story
{
    margin: 3px;
    background-color: #f2f2f2;
    width: 250px;
    display: block;
    border: solid 2px #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;   
}

.story span.summary
{
	display: block;
    border-top: dotted 1px #ccc;
    padding: 3px;
}

.story div.tasks
{
	overflow: auto;
}

.story span.summary button.toggleTasks
{
    float: right;
}

.story button.addTask
{
	float: right;
	margin: 3px;
}

.task
{
    margin: 3px;
    background-color: #f2f2f2;
    width: 255px;
    display: block;
    border: solid 2px #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;   
}


.task span.user
{
	float: right;
	text-align: right;
	font-weight: bold;
}

.task span.title
{
	display: block;
    padding: 3px;
    overflow: auto;
}

.task span.title button.expandTask
{
    float: right;
}

.task span.details
{
	display: block;
    border-top: dotted 1px #ccc;
    padding: 3px;
    background-color: #ffffdd;
}

